@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Tangerine:wght@700&display=swap');.textStyle{
    font-family:'Noto Sans', sans-serif;
}
.back{
    background-image:url('./images/wind.jpg');
    background-repeat: no-repeat, repeat;
}
.bgColor{
    /* background-image: linear-gradient(to bottom right, #FFFFFF, rgb(133, 136, 134)); */
    background-image:url('./images/mj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cardBg{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(238, 246, 242, 0.7));
}
.white{
    background-color: #FFFFFF;
}
.whiteLogo{
    opacity: .7;
    width:100%;
}
.exp{
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(238, 246, 242, 0.8)),url('./images/exp.jpg');
    height:40vh;
    background-size: 100%, 100%;
    background-repeat:cover;
    font-family: 'Tangerine', cursive;
    font-size:4rem;
}
ul {
    list-style-image: url('./images/label.svg');
  }
  .padding {
    padding-left: 1rem;
    padding-right: 0;
    
  }
  .img{
      width:17rem;
  }
  .contact{
      height:auto;
     
  }
  input{
    background-color: rgba(255, 255, 255,0.0);
    border-bottom: 1px solid black;
    border-top:none;
    border-left:none;
    border-right:none;

  }
  input:focus{
    background-color: rgba(255, 255, 255,0.0);
    border-bottom: 1px solid black;
    border-top:none;
    border-left:none;
    border-right:none;

  }
 
  input:active{
    background-color: rgba(255, 255, 255,0.0);
    border-bottom: 1px solid black;
    border-top:none;
    border-left:none;
    border-right:none;

  }
  input::after{
    background-color: rgba(255, 255, 255,0.0);
    border-bottom: 1px solid black;
    border-top:none;
    border-left:none;
    border-right:none;

  }
  input:focus-visible{
    background-color: rgba(255, 255, 255,0.0);
    border-bottom: 1px solid black;
    border-top:none;
    border-left:none;
    border-right:none;

  }
  :focus-visible {
    outline: none;
    outline-color:none;
    outline-style: none;
    outline-width:none;
}

