@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&family=Tangerine:wght@700&display=swap');.textStyle{
    font-family: 'BioRhyme', serif;
}
.back{
    background-image:url('./images/wind.jpg');
    background-repeat: no-repeat, repeat;
}
.bgColor{
    /* background-image: linear-gradient(to bottom right, #FFFFFF, rgb(133, 136, 134)); */
    background-image:url('./images/mj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cardBg{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(238, 246, 242, 0.7));
}
.white{
    background-color: #FFFFFF;
}
.whiteLogo{
    opacity: .7;
}
.exp{
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(238, 246, 242, 0.8)),url('./images/exp.jpg');
    height:40vh;
    background-size: 100%, 100%;
    background-repeat:cover;
    font-family: 'Tangerine', cursive;
    font-size:4rem;
}
ul {
    list-style-image: url('./images/label.svg');
  }
  .no-padding {
    padding-left: 0;
    padding-right: 0;
    
  }